<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="tab" role="tabpanel">
        <!-- Tab panes -->
        <div class="tab-content tabs" >
          <form class="form-horizontal" id="convApp" >

            <div class="form-group">
              <label class="text">Введите сумму для конвертации:</label><input type="number" class="form-control"
                id="value" v-model="amount" placeholder="Введите сумму">
            </div>

            <label class="text">Выберите вашу валюту:</label><select class="custom-select custom-select-lg mb-3"
              v-model='selected_user_curency' @change='select_user_curency'>
              <option v-for='cur in curency'>{{cur}}</option>
            </select>

            <label class="text">Выберите желаемую валюту:</label><select class="custom-select custom-select-lg mb-3"
              v-model='selected_out_curency' @change='select_out_curency'>
              <option v-for='cur in curency'>{{cur}}</option>
            </select>

            <button type="button" class="btn btn-success " v-on:click="convertator_cur()">Конвертировать</button>
            <h3  class="res-conv" v-if="result_conv">По текущему курсу: {{result_conv}}</h3>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>